#score.heart.best
  .result
    .goal +$24,300
#header
  h1 My Impact
  p Based on past 6 months, you've supported over $24K diverted to socially responsible businesses!
#results
  .stat 
    .level.heart.better
    span 24/36 mid-range purchases at high-scoring business totalling $5,400 in past month
  .stat 
    .level.heart.best
    span 3 of 3 major purchases at high-scoring business
  .stat 
    .level.heart.bad
    span 26 expedience purchases not diverted from low-scoring businesses
  .stat 
    .level.heart.best
    span 3 friends joined Project Equality
  .stat 
    .level.heart.ok
    span 123 another stat about an accomplishment
  .stat 
    .level.heart.better
    span xyz is the accomplishment started by abc
  .stat 
    .level.heart.ok
    span 123 stat accomplishment
